.container {
    padding-top: 3em;
}
.list_date {
    display: flex;
    list-style-type: none;
    padding: 0em;
}
.date {
    margin: 0em 1em;
    background-color: rgb(204, 204, 204);
    padding: 0.6em;
    border-radius: 5px;
}
.date p {
    margin: 0em;
}
.off {
    background-color: rgb(238, 238, 238) !important;
}
.on {
    background-color: rgb(154, 255, 3) !important;
}
.list_hour {
    padding: 0.6em;
    list-style-type: none;
    background-color:  #fff;
}
.select {
    width: 100%;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}