.container {
    padding-bottom: 6em;
}
@media screen and (min-width:320px) {
    .Cardapio .container {
        margin: -4em 0em 20em 0em;
        height: 100px;
        background-color: rgb(253, 167, 7);
        padding: 0.5em;
    }
    .Cardapio .top_header {
        height: 100%;
        width: 100%;
    }
    .Cardapio .input_main {
        width: 100%;
        border-radius: 10px;
        border: none;
        padding: 0.5em;    
        margin-top: 0.7em;   
        box-shadow: 1px 1px 4px #a7a7a7;
    }
    .Cardapio .shop {
        display: flex;
        margin: 1em;
    }
    .Cardapio .logo {
        height: 50px;
    }
    .Cardapio .razao {
        margin-left: 1em;
        font-family: 'Poppins', sans-serif;
    }
    .Cardapio .name_shop {
        margin-bottom: 0em;
        color: #fff;
    }
    .Cardapio .status {
        font-size: 0.8em;
        color: #6d6d6d;
    }
    .Cardapio .circle {
        font-size: 0.4em;
    }
    .Cardapio .name_categorie {
        padding: 0.5em 0em 0.5em 0em;
        margin-left: 1em;
        font-family: 'Varela Round', sans-serif;
        font-weight: 600;
    }
    .Cardapio .link {
        cursor: pointer !important;
        color: #000;
        text-decoration: none;
    }
    .Cardapio .isPending {
        color: #e43b3b !important;
    }
    .Cardapio .isActive {
        color: aqua;
    }



    .no_padding_no_margin {
        margin: 0em;
        padding: 0em;
    }
    .Wpp {
        background-color: #D9DDD6;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: fixed;
        top: 0em;
    }
    .Wpp .content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100vh;
        padding: 0em !important;
        background-color: #000;
        overflow: hidden;
    }
    .Wpp .block_green {
        width: 100%;
    }
    .Wpp .cont_left {
        display: none;
        width: 50%;
        height: 100%;
        border-right: 1px solid #F0F2F5;
    }
    .Wpp .cont_user {
        width: 100%;
        padding: 1em;
        background-color: #EEEDEF;
        display: flex;
        align-items: center;
    }
    .Wpp .cont_user p {
        margin: 0em 0em 0em 1em;
        font-weight: 600;
    }
    .Wpp .user {
        font-size: 2em;
    }
    .Wpp .logo {
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
    .Wpp .cont_persons {
        width: 100%;
        height:100%;
        background-color: #fff;
    }
    .Wpp .person {
        padding: 1em;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        cursor: pointer;
    }
    .Wpp .cont_input {
        padding: 1em 0em;
        border-bottom: 1px solid #F0F2F5;
    }
    .Wpp .cont_input input {
        background-color: #F0F2F5;
        border: none;
        border-radius: 7px;
        width: 90%;
        margin: auto;
        display: block;
        padding: 0.3em;
        text-indent: 5px;
    }
    .Wpp .info_person {
        margin-left: 1em;
        border-bottom: 1px solid #F0F2F5;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .Wpp .info_person p:first-child{
        font-size: 1em;
        font-weight: 600 ;
        text-transform: capitalize ;
        margin-bottom: 0.1em;
        color: #000;
    }
    .Wpp .info_person p {
        font-weight: 400;
        font-size: 0.9em;
        color: #b3b3b3;
    }
    .Wpp .cont_right{
        display: block;
        width: 100%;
        background-color: #F9F9FB;
    }
    .Wpp .icon_check {
        color: #D7D6D7 !important;
        font-size: 0.8em !important;
    }
    .Wpp .start_mob {
        background-color: #70ff5d;
        display: block;
        padding: 0.6em 1em;
        border: none;
        font-size: 1.2em;
        color: #fff;
        font-weight: 600;
        width: 100%;
    }
}
@media screen and (min-width:576px) {
    .Dark .cont_img {
        border-radius: 5px;
        height: 400px;
        width:  100%;
        overflow: hidden;
    }
    .Dark .input {
        display: block;
    }
    .Light .cont_img {
        width: 100%;
        height: 200px;
    }
    .Dark .img_destaque {
        height: 200px;
    }
    .Dark .text_destaque {
        font-size: 3em;
    }
    .Dark .cont_slides {
        height: 300px;
    }
    .Dark .cont_img_destaque {
        margin: 2.6em 1em 0em 3em;
    }
    .Dark .img_examples{
        height: 350px;
    } 
    .Dark .link_destaque {
        font-size: 1.2em;
    }
    .Dark .info_produto {
        font-size: 1.1em;
    }
    .Wpp .cont_right{
        width: 75%;
    }
    .Wpp .cont_left { 
        display: block;
    }
    .Wpp .start_mob {
        display: none;
    }
}

.text_align_center {
    text-align: center;
}
.flex {
display: flex;
width: 100%;
}