@media screen and (min-width:320px) {
    .container {
        padding: 1em;
    }
    .container a {
        text-decoration: none;
        color: #000;
    }
    .icon {
    font-size: 1.7em;
    font-weight: 100;
    }
    .list {
        list-style-type: disc;
        padding: 0.6em;
    }
    .mod {
        border-bottom: 1px solid #f7a000;
        color: #000 !important;
        display: block;
        margin: 1.5em 0em ;
        font-size: 1.1em;
        text-decoration: none !important;
    }
    .item_mod {
        border-bottom: 1px solid #ddd;
        color: #000 !important;
        display: block;
        font-size: 1.1em;
        margin: 0.5em auto;
        text-decoration: none !important;
    }
    .view_mob {
        width: 50% !important;
    }
}
