.show {
    position: fixed;
    width: 90%;
    max-height: 70vh ;
    left: 0em;
    right: 0em;
    bottom: 6em;
    margin: 0em auto;
    box-shadow: 1px 1px 4px #ddd;
    background-color: #fff;
    padding: 1em;
    display: block;
    transition: 0.6s linear;
    border-radius: 7px;
    border: 1px solid #ddd;
    text-align: right;
    z-index: 100;
    overflow: auto;
}
.none {
    display: none;
}
.preço {
    margin-bottom: 0.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    border-top: 1px solid #ff6003;
    font-size: 1.1em;
    padding-top: .6em;
}
.confirm {
    background-color: #ff6003;
    color: #fff;
    border: none;
    font-weight: 600;
    width: 100%;
    border-radius: 7px;
    padding: .5em;
    margin-bottom: .7em;
}
.cont_itens {
    text-align: left;
}
.cont_itens p {
    margin-bottom: .2em;
}
.list_itens {
    list-style-type: none;
    padding: 0em;
}
.item {
    display: flex;
    align-items: center;
}
.formulario {
    margin: 0em 0em 2em 0em;
    text-align: left;
}
.back {
    border: 1px solid #000 ;
    background-color: #ffff;
    color: #000;
}
.contInpCheck{
    display: flex;
    align-items: center;
    margin: 1em 0em;
    border-top: 1px solid #cccc;
}
.contInpCheck p {
    margin: 0em 0em 0em .5em;
}
.inputCheck {
    display: block;
}