@media screen and (min-width:320px) {
    .container {
        margin: -4em 0em 20em 0em;
        padding: 0.5em;
        position: relative;
    }
    .top_header {
        background-color: rgb(253, 167, 7);
        position: absolute;
        top: 0em;
        height: 100px;
        width: 100%;
        left: 0em;
        z-index: -100;
    }
    .input_main {
        width: 100%;
        border-radius: 10px;
        border: none;
        padding: 0.5em;    
        margin-top: 0.7em;   
        box-shadow: 1px 1px 4px #a7a7a7;
    }
    .shop {
        display: flex;
        margin: 1em;
    }
    .logo {
        height: 50px;
    }
    .razao {
        margin-left: 1em;
        font-family: 'Poppins', sans-serif;
    }
    .name_shop {
        margin-bottom: 0em;
        color: #fff;
    }
    .status {
        font-size: 0.8em;
        color: #6d6d6d;
    }
    .circle {
        font-size: 0.4em;
    }
    .name_categorie {
        padding: 0.5em 0em 0.5em 0em;
        margin-left: 1em;
        font-family: 'Varela Round', sans-serif;
        font-weight: 600;
    }
    .list_categories {
        list-style-type: none;
        padding: 0em;
    }
    .categorie {
        margin: 1em 0em;
        border-bottom: 1px solid #ddd;
    }
    .list_itens {
        list-style-type: none;
        padding: 0em;
        margin: 1em auto;
    }
    .item {
        padding: 0.6em;
        border: 1px solid #ddd;
        border-radius: 10px;
        margin: 1em auto;
        border-left: 3px solid #FDA707;
    }
    .item a {
        color: #000;
        text-decoration: none;
    }
    .name_categorie {
        color: #6d6d6d;
        margin-left: 0em;
    }
    .name_item {
        font-family: 'Niramit', sans-serif;
        font-weight: 600;
        font-size: 1.1em;
    }
    .preço_item {
        font-family: 'Hammersmith One', sans-serif;
        font-weight: 600;
    }
    .img {
        height: 70px;  
    }
}
.link {
    cursor: pointer !important;
    color: #000;
    text-decoration: none;
    margin-left: 2em;
    display: block;
    font-size: 0.9em;
}
.isPending {
    color: #e43b3b !important;
}
.isActive {
    color: aqua;
}
