/* Agenda2.css */
.cont-agenda-calendar {
    font-family: "Dosis", serif;
    font-optical-sizing: auto;
    font-weight: 700;
}
.ul-margin {
  padding: 0em;
}
.header-main2 {
    background-color: var(--user-color-light);
    width: 100%;    
    padding: 1em ;
    margin-top: -4em;
}


.scheduler {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #e8f5e9, #c8e6c9);
    padding: 20px;
    border-radius: 15px;
    max-width: 700px;
    margin: 20px auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
  .razao {
    margin-bottom: 2em;
    color: #fff;
  }
  
  .scheduler-header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .scheduler-header h1 {
    color: #388e3c;
    font-size: 2.5rem;
  }
  .paragh {
    color: #777;
    font-weight: 600;
  }
  .scheduler-header p {
    color: #777;
    font-size: 1.2rem;
  }
  .calendar {
    margin: 0em auto;
    border: none;
  }
  .service-selection, .calendar-container, .time-selection, .confirmation {
    text-align: center;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: .5em auto;
  }
  
  .service-selection h2, .calendar-container h2, .time-selection h2, .confirmation h2 {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
  
  .service-item {
    background: #f9f9f9;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .time-selection ul {
    padding: 0em;
    list-style-type: none;
  }
  
  .service-item:hover {
    background: var(--user-color) !important;
  }
  
  .service-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
  }
  
  .service-name {
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .service-duration, .service-price {
    font-size: 1rem;
    color: #555;
  }
  
  /* Calendário */
  .available-date {
    background-color: var(--user-color-dark);
    color: var(--user-color-light);
  }
  
  .unavailable-date {
    background-color: #D3D3D3;
    color: #777;
  }
  
  .time-item {
    background-color: #fafafa;
    padding: 15px;
    margin: 8px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .time-item.available:hover {
    background-color: var(--user-color);
    color: white;
  }
  
  .time-item.unavailable {
    background-color: #777;
    color: white;
  }
  
  .confirmation {
    background: #f0f8ff;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  }
  
  .confirmation p {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  
  .confirmation-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .btn {
    padding: 12px 25px;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .secondary {
    background-color: #f9f9f9;
    color: #333;
    transition: background 0.3s ease;
  }
  
  .secondary:hover {
    background-color: #cfcfcf;
  }
  
  .tertiary {
    background-color: #ff9800;
    color: white;
    transition: background 0.3s ease;
  }
  
  .tertiary:hover {
    background-color: #f57c00;
  }
  
  .primary {
    background-color: #388e3c;
    color: white;
    transition: background 0.3s ease;
  }
  
  .primary:hover {
    background-color: #2c6e27;
  }
  
  .calendar-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .center {

    display: block !important;
    margin: 2em auto 0em auto!important;
  }









  .stage-counter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .stage-container {
    display: flex;
    align-items: center;
  }
  
  .line-stage {
    margin-top: -1.6em;
    width: 50px;
    height: 4px;
    background-color: #ccc;
    transition: background-color 0.3s ease;
  }
  
  .line-stage.line-completed {
    background-color: #4caf50;
  }
  
  .stage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    text-align: center;
  }
  
  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  .stage-completed .circle {
    background-color: #4caf50;
    color: white;
  }
  
  .label-span {
    font-size: 1em !important;
    margin-top: 5px;
    font-size: 14px;
    color: #ffff;
  }

  
  /* Media Query para dispositivos móveis */
  @media (max-width: 600px) {
    .circle {
      width: 20px;
      height: 20px;
      font-size: 12px;
    }
    .label-span {
      font-size: 1em;
    }
  
    .line-stage {
      width: 20px;
      height: 3px;
    }
    .service-selection, .calendar-container, .time-selection, .confirmation {
        width: 100%;
    }
  }
  