.cont_empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin-top: -6em;
    text-align: center;
}
.cont_empty img {
    width: 300px;
    height: 300px;
}