
.btn{
    display: block !important;
    background-color: #40af00;
    margin: 1em auto;
    padding: .8em;
    border: none;
    border-radius: 10px;
    color: #fff;
}
.cancel {
    background-color: #fc7070;
}
.close{
    background-color: #fff;
    color: #000;
    border: 1px solid #fc7070;
}