.container {
    margin: 1em auto 0em auto;
    width: 90%;
    position: relative;
}
.content {
    padding: 0.8em;
    position: relative;
    border: 1px solid #cccc;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 4px inset #ddd;
}
.title {
    background-color: #dddd;
    width: 100%;
    padding: 0.5em;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 0em;
    box-shadow: 1px 1px 4px inset #ddd;
}
.btn_main_search {
    padding: 0.5em;
    margin: 0em 0.7em 0.7em 0em;
    border: none;
    background-color: #2b2b2bdd;
    border-radius: 5px;
    color: #fff;
}
.cont_left {
    margin-top: 2em;
}
.cont_left input , .cont_left select{
    border: 1px solid #9c9c9cdd;
    border-radius: 10px;
    margin: 0.7em 0em;
    padding: 0.4em;
    text-indent: 3px;
}
.cont_left label, .cont_left input {
    display: block;
}
.cont_btn_buscar {
    display: flex;
    justify-content: flex-end;
}
.btn_buscar {
    border: none;
    background-color: #ff9900;
    color: #fff;
    padding: 0.6em;
    margin-top: 1em;
    border-radius: 10px;
    font-size: 1.1em;
    display: flex;
    align-items: center;
}
.icon {
    margin-right: 0.4em;
    font-size: 0.9em;
}
