
@media screen and (min-width:320px) {
    .container {
        width: 90%;
        margin: 2em auto;
        background-color: #fff;
        padding: 1.4em;
        box-shadow: 1px 1px 4px #00000063;
        border-radius: 10px;
    }
    .cont_btn_del button {
        display: block;
        margin-bottom: 1em;
    }
    .logo {
        width: 30px;
        height: 30px;
    }
    .container h4 {
        margin-bottom: 1em;
    }
    .form label {
    display: block;
    }
    .container input {
        border: none;
        border-bottom: 1px solid #dddd;
        border-radius: 5px;
        padding: 0.3em;
        text-indent: 5px;
        width: 100%;
        margin-bottom: 0.6em;
    }
    .form input, .form textarea {
        border: none;
        border-bottom: 1px solid #dddd;
        border-radius: 5px;
        padding: 0.3em;
        text-indent: 5px;
        width: 100%;
        margin-bottom: 0.6em;
    }
    .cont_dashed_no_padding {
        width: 100%;
        border: 1px dashed #c7c7c7;
        padding: 0.3em;
    }
    .cont_token {
        margin: 1em 0em;
    }
    .cont_token input {
        margin-left: 1em;
    }
    .title {
        margin-bottom: .5em !important;
    }
    .title_small {
        font-weight: 600;
    }
    .btn_save_add {
        padding: 0.6em 1em;
        border: none;
        margin: 1em 0em 0em 0em !important;
        background-color: #ff9100;
        color: #fff;
        width: auto;
        border-radius: 7px;
        float: right !important;
    }
    .disabled {
        background-color: #c7c7c7 !important;
    }
    /*Formulario Negocio*/
    .cont_dashed {
        width: 100%;
        border: 1px dashed #c7c7c7;
        padding: 0.3em ;
    }
    .cont_plan input {
        border: 1px solid #c7c7c7;
        border-radius: 10px;
        text-indent: 5px;

    }
    .cont_theme {
        display: flex;
        align-items: center;
        padding: 1em 0em;
    }
    .cont_theme label, .cont_theme strong {
        margin-right: 1em;
    }
    .img {
        display: block;
        width: 90%;
        margin: 0.6em auto;
        height: 230px;
    }
    
    .btn_theme {
        border: none;
        background-color:transparent;
        text-decoration: underline;
        color: #000;
    }
    .item {
        width: 100%;
        cursor: pointer;
    }
    .item p {
        margin-left: 1em;
    }
    .item:hover {
        border: 1px solid #c7c7c7;
    }
    .cont_slides {
        margin-top: 2em;
        padding: 1em;
    }
    .cont_plan {
        display: flex;
        margin-top: 1em;
    }
    .cont_plan label,.cont_plan strong {
        margin-right: 1em;
    }
    .cont_plan a {
        margin-left:1em;
    }
    .status {
        margin: 1em auto;
        padding: 0.2em 0em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
        background-color: #ff9100;
        color: #fff;
    }
    .status p {
        margin-bottom: 0px;
    }
    .cont_user {
        width: 90%;
        border-radius: 5px;
        padding: 1em;
        box-shadow: 1px 1px 4px #cccccc;
        margin: 0em auto;
    }
    .name {
        margin: 0.6em 0em;
    }
    .state {
        font-size: 0.6em;
        background-color: #c7c7c7;
        padding: 0.2em 0.6em;
        border-radius: 10px;
        margin-left: 0.7em;
        color: #161616;
    }
    .cont_header {
        display: flex;
        justify-content: space-between;
    }
    .line {
        width: 100%;
        height: 1px;
        background-color: #dbdbdb;
        margin: 1em 0em;
    }
    .block {
        display: block;
    }
    .btn_save {
        font-size: 1.1em;
        margin-left: 0.7em;
        background-color: #ff9100;
        color: #fff;
        border-radius: 7px;
        border: none;
        padding: 0.5em;
        margin-right: 1em;
    }
    .cont_check {
        margin: 2em 0em;
        display: flex;
    }
    .input_check {
        width: 20px;
        height: 20px;
        margin: 0.5em;
    }
    .btn_pause {
        padding: 0.6em;
        border: none;
        background-color: #FF9100;
        color: #fff;
        border-radius: 7px;
    }
    .off {
        background-color: #000;
        color: #fff;
    }
    .icon {
        margin-right: 0.6em;
    }
    .save {
        background-color: #ff9100 !important;
        color: #fff !important;
        margin-bottom: 0.5em;
    }
    .btn_add_cidade {
        border: none;
        background-color: #ff9100;
        padding: 0.4em;
        margin: 0.6em 0em;
        text-decoration: none;
        color: #fff;
        border-radius: 7px;
    }
    .btn_cancel {
        border: none;
        padding: 0.6em;
        height: 100%;
        border-radius: 7px;
    }
    .flex {
        display: flex;
        align-items: center !important;
    }
    .btn_delete {
        width: 100%;
        background-color: rgb(250, 172, 172);
        padding: 0.3em;    
        border: none;
        
    }
    .flex_space_around {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-around;
    }
    .cont_input input {
        display: block;
        margin-bottom: 0.7em;
    }
    .p {
        margin-bottom: 0px;
    }
    .input {
        width: 100%;
        margin-bottom: 0.6em;
        border-radius: 2px;
        text-indent: 5px;
        border: none;
        padding: 0.4em;
        border-bottom: 1px solid #c7c7c7;
    }
    .btn_delete_account {
        padding: 0.5em;
        border-color: red;
        color: red;
        background-color: #fff;
        border-radius: 7px;
        font-weight: 500;
    }
    .cont_delete_user {
        padding: 1em;
    }
    .title_delete {
        margin-bottom: 3em;
    }
    .all_right {
        float: right;
    }
    .copy_link {
        font-size: 0.9em;
    }
    .day_number {
        padding: .4em;
        font-size: 0.8rem ; /* Ainda menor para telas pequenas */
        margin-left: -1.3em;
        text-align: center;
    }
    .box_infos {
        display: flex;
        justify-content:space-between;
        width: 100%;
        margin: 1em auto;
    }
    .serv {
        margin-top: -1.6em;
        color: #585858;
        
    }
    .nome {
        font-size: 1em;
        font-weight: 600;
    }
    .info {
        padding: .5em;
        width: 100%;
        margin: 0em 0.3em;
        border-radius: 10px;
        text-align: center;
    }
    .consultas {
        background-color: #bbbbbb;
    }
    .servicos {
        background-color: #ffb451;
    }
    .clientes {
        background-color: #161616;
        color: #fff;
    }
}
.title_h2 {
    text-align: center;
    margin-bottom: 1em;
}
@media screen and (min-width:576px) {
    .box_infos {
        width: 80%;
    }
    .container {
        width: 80%;
    }

    .copy_link {
        font-size: 1em;
    }
} 
@media screen and (min-width:900px) {
    .day_number {
        margin-left: 0em;
        font-size: 1.2rem ; /* Ainda menor para telas pequenas */
    }
}

.check_logo {
    display: flex;
    margin-top: 0.6em;
    align-items: center;
}
.check_logo p {
    margin: 0em 0em 0.5em 1em ;
}
.input_check {
    width: 15px !important;
    height: 15px !important;

}
.cont_link {
    box-shadow: 1px 1px 4px #cfcfcf;
    border-radius: 10px;
    border-bottom: 2px solid #FF9100;
    margin-bottom: 2.5em;
}
.copy_link {
    margin: 0.5em;
    display: block;
    text-decoration: cadetblue;
    color: #6d6d6d;
}
.copy {
    background-color: #FF9100;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.8em;
    color: #fff;
    border-radius: 0px 10px 10px 0px;
}
.btn_link {
    color: #fff;
    display: block;
    padding-top: 0em !important;
    margin: 0em 0em 0.2em 1.5em;
    font-size: 1em;
}
.line_link {
    background-color: #FF9100;
    width: 100%;
    height: 2px;
}
.cont_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.container_off {
    text-align: center;
    margin-top: 3em;
}
.icon {
    font-size: 0.9em;
}
.d_block {
    display: block;
}
